<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://kit.fontawesome.com/694bd12192.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"/>
		<link rel="stylesheet" href="./style.css" />
		<title>Produtos</title>
	</head>
	<body>
        <header>
			<h1>SmartSuplify</h1>
			<p>Tem certeza que gostaria de sair do EpicTask?</p>

    <a href="produtos">
        voltar
    </a>
    <form th:action="${'/logout'}" method="post">
        <button>sair</button>
    </form>
		</header>
    </body>
</html>