<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="../style.css" />
    <title>Produtos</title>
</head>
<body>
    <header>
        <h1>Gerenciamento de Produtos</h1>
        <p>Bem-vindo à página de gerenciamento de produtos. Aqui você pode cadastrar novos produtos ou atualizar as informações dos produtos já existentes. Preencha os campos abaixo para adicionar ou modificar as informações de um produto. Certifique-se de que todas as informações estejam corretas antes de salvar.</p>
    </header>
    <form action="/produtos" method="POST" th:object="${produto}">
        <div class="campos-input">
            <label for="nome">Nome</label>
            <input th:field="*{nome}" type="text" maxlength="80" placeholder="Parafuso">
            <span class="nes-text is-error" th:errors="*{nome}"></span>
        </div>
        
        <div class="campos-input">
            <label for="tamanho">Tamanho</label>
            <input th:field="*{tamanho}" type="text" maxlength="20" placeholder="3x12mm">
            <span class="nes-text is-error" th:errors="*{tamanho}"></span>
        </div>

        <div class="buttons">
            <input class="salvar" type="submit" value="Salvar"/>
            <a href="/produtos" class="voltar">Voltar</a>
        </div>
    </form>
</body>
</html>